.carousel {
  display: flex;
  justify-content: center;
}

.carousel_Items {
  display: flex;
  justify-content: center;

}

#carousel {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 10px !important;
}

.carousel_Pics {
  display: flex;
  height: 100px;
  width: 100px;
}

.slick-arrow:hover {
  background-color: grey;
}

.slick-arrow {
  color: black;
}

.slick-prev:before {
  /* background: rgb(192, 60, 60, 1.0) !important; */
  /* position: absolute !important; */
  color: #a00000 !important;

}
.slick-next:before {
  /* z-index: 2147483647 !important; */
  /* background: rgb(192, 60, 60, 1.0) !important; */
  /* position: absolute !important; */
  color: #a00000 !important;
} 

.slick-slide {
  height: auto !important;
}
